@import url(../../basic.css);
.responsive-img {
    width: 100%;
    height: auto;
}

.rounded {
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
}

.square {
    height: 25rem;
    width: 25rem;
}

.container-250px {
    width: 30rem;
}