@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #14213D;
    --lightblue: #2E86AB;
    --green: #008000;
    --red: #ff0000;
    --accentRed: #df2727;
    --yellow: #FCA311;
    --gray: #808080;
    --text-gray: #333333;
    --white: #ffffff;
    --crimson: #dc143c;
    --lightRed: #f44336;
    --nav: #488A99;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

.white-text {
    color: var(--white);
}

.info {
    background-color: var(--lightblue);
    color: var(--white);
}

.error {
    background-color: var(--red);
    color: var(--white);
}

.success {
    background-color: var(--green);
    color: var(--white);
}

.primary {
    background-color: var(--blue);
    color: var(--white);
}

.warning {
    background-color: var(--yellow);
    color: var(--white);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}