@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #14213D;
    --lightblue: #2E86AB;
    --green: #008000;
    --red: #ff0000;
    --yellow: #FCA311;
    --gray: #808080;
    --text-gray: #333333;
    --white: #ffffff;
}

.white-text {
    color: var(--white);
}

.info {
    background-color: var(--lightblue);
    color: var(--white);
}

.error {
    background-color: var(--red);
    color: var(--white);
}

.success {
    background-color: var(--green);
    color: var(--white);
}

.primary {
    background-color: var(--blue);
    color: var(--white);
}

.warning {
    background-color: var(--yellow);
    color: var(--white);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f44336;
    padding: 1rem 3rem;
    font-weight: 500;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
}

.navbar .navbar-title {
    font-weight: bolder;
    font-size: 1.8rem;
}

.navbar .navbar-menu {
    font-size: 1.2rem;
}

.navbar-menu a {
    margin-right: 1rem;
}

.navbar a {
    text-decoration: none;
    color: inherit
}

.mainpage-container {
    margin: 10% auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 55%;
}

.mainpage-container h1 {
    font-size: 4rem;
    font-weight: bolder;
}

.mainpage-container p {
    font-size: 1.5rem;
}

.mainpage-container button {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.mainpage-button {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.mainpage-button a {
    text-decoration: none;
    color: inherit;
}

.getstarted-btn {
    background-color: #f44336;
    outline: none;
    border: none;
    color: white;
}

.getstarted-btn:hover {
    background-color: crimson;
}

.github-btn {
    background-color: white;
    color: #f44336;
    border: 0.2px solid #f44336;
    outline: none;
}

.github-btn:hover {
    background-color: #f44336;
    color: white;
    border: none;
}