<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./input.css">
</head>

<body>



    <!-- text -->
    <label for="text" class="label">Enter Name *</label>
    <input type="text" id="text" class="input" placeholder="Enter Name">

    <!-- number -->
    <label for="number" class="label">Enter Number *</label>
    <input type="number" id="number" class="input" placeholder="Enter Number">

    <!-- password -->
    <label for="password" class="label">Enter Password *</label>
    <input type="password" id="password" class="input" placeholder="Enter Password">

    <!-- address -->
    <label for="address" class="label">Enter Address *</label>
    <textarea type="text" id="address" class="input" cols="10" rows="5" placeholder="Enter Address"></textarea>

    <!-- error text -->
    <label for="text" class="label text-red">Enter Name *</label>
    <input type="text" id="text" class="input error-outline" placeholder="Enter Name">

    <!-- error number -->
    <label for="number" class="label text-red">Enter Name *</label>
    <input type="number" id="number" class="input error-outline" placeholder="Enter Number">








</body>

</html>