<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../button/button.css">
    <script src="https://kit.fontawesome.com/e24bb32a8e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <h1>Primary Button</h1>
        <button class="btn primary">Primary</button>
        <button class="btn success">Success</button>
        <button class="btn info">Info</button>
        <button class="btn error">Error</button>
        <button class="btn warning">Warning</button>
    </div>
    <div>
        <h1>Outline Button</h1>
        <button class="btn btn-outline-primary">Primary</button>
        <button class="btn btn-outline-success">Success</button>
        <button class="btn btn-outline-info">Info</button>
        <button class="btn btn-outline-error">Error</button>
        <button class="btn btn-outline-warning">Warning</button>
    </div>
    <div>
        <h1>Icon Button</h1>
        <button class="btn primary icon-btn"> <i class="fas fa-info-circle fa-lg"></i></button>
        <button class="btn success icon-btn"> <i class="fas fa-check-circle fa-lg"></i></button>
        <button class="btn info icon-btn"><i class="fas fa-info-circle fa-lg"></i></button>
        <button class="btn error icon-btn"><i class="fas fa-exclamation-circle fa-lg"></i></button>
        <button class="btn warning icon-btn"><i class="fas fa-exclamation-triangle fa-lg"></i></button>
    </div>
    <h1>Floating Action Button</h1>
    <div class="float-btn-container">
        <button class="btn floating-btn"><i class="fas fa-heart"></i></button>
        <button class="btn floating-btn"><i class="fas fa-pen"></i></button>
        <button class="btn floating-btn"><i class="fas fa-plus"></i></button>
        <button class="btn floating-btn"><i class="fas fa-check"></i></button>
    </div>
    <div>
        <h1>Link Button</h1>
        <button class=" link-btn">
            <a href="">Link Button</a>
        </button>

    </div>





</body>

</html>