<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>

<body>

    <h2>Rounded-avatar</h2>
    <div class="avatar-container">
        <img src="../../assets/avtar.png" class="avatar-round avatar-sm " alt="avatar">
        <img src="../../assets/avtar.png" class="avatar-round avatar-md " alt="avatar">
        <img src="../../assets/avtar.png" class="avatar-round avatar-lg " alt="avatar">
        <img src="../../assets/avtar.png" class="avatar-round avatar-xl " alt="avatar">
    </div>
    <h2>Square-avatar</h2>
    <div class="avatar-container">
        <img src="../../assets/avtar.png" class="avatar-square avatar-sm " alt="avatar">
        <img src="../../assets/avtar.png" class="avatar-square avatar-md " alt="avatar">
        <img src="../../assets/avtar.png" class="avatar-square avatar-lg " alt="avatar">
        <img src="../../assets/avtar.png" class="avatar-square avatar-xl " alt="avatar">
    </div>


</body>

</html>