@import url(../../basic.css);
.avatar-round {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 10%;
}

.avatar-sm {
    height: 2rem;
    width: 2rem;
}

.avatar-md {
    height: 3rem;
    width: 3rem;
}

.avatar-lg {
    height: 4rem;
    width: 4rem;
}

.avatar-xl {
    height: 5rem;
    width: 5rem;
}