<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../cards/card.css">
    <script src="https://kit.fontawesome.com/e24bb32a8e.js" crossorigin="anonymous"></script>

</head>

<body>


    <!-- text only card -->
    <div class="card">
        <div class="card-header">
            <h2>Millionaire Fastlane</h2>
        </div>
        <div class="card-content">
            <p>The Millionaire Fastlane is about getting wealthy and retiring in 10 years rather than 40 years.</p>
        </div>
    </div>

    <!-- horizontal card -->
    <div class="horizontal-card">
        <div class="card-img">
            <img class="card-img" src="../../assets/ring.jpg" alt="">
        </div>
        <div class="card-header">
            <h1>Classic Ruby Ring</h1>
            <h2>₹46,838</h2>
        </div>
    </div>

    <!-- Basic card with image -->
    <div class="card">
        <div class="card-img">
            <img id="radius" src="../../assets/ring.jpg" alt="">
        </div>
        <div class="card-header">
            <h1>Classic Ruby Ring</h1>
            <h2>₹46,838</h2>
        </div>
        <div class="card-content">
            <p>The Millionaire Fastlane is about getting wealthy and retiring in 10 years rather than 40 years.</p>
        </div>
        <div class="card-footer">
            <div class="btn">
                <button><a href=""><b>READ</b></a> </button>
            </div>
        </div>
    </div>

    <!-- card with badge -->
    <div class="card">
        <span class="card-badge flex-center"><i class="far fa-heart fa-2x"></i></span>
        <div class="card-img">
            <img id="radius" src="../../assets/ring.jpg" alt="">
        </div>
        <div class="card-header">
            <h1>Classic Ruby Ring</h1>
            <h2>₹46,838</h2>
        </div>
        <div class="card-content">
            <p>The Millionaire Fastlane is about getting wealthy and retiring in 10 years rather than 40 years.</p>
        </div>
        <div class="card-footer">
            <div class="btn">
                <button><a href=""><b>READ</b></a> </button>
            </div>
        </div>





    </div>

    <!-- card with dismiss -->
    <div class="card">
        <span class="card-badge flex-center"><i class="fas fa-times fa-2x"></i></span>
        <div class="card-img">
            <img id="radius" src="../../assets/ring.jpg" alt="">
        </div>
        <div class="card-header">
            <h1>Classic Ruby Ring</h1>
            <h2>₹46,838</h2>
        </div>
        <div class="card-content">
            <p>The Millionaire Fastlane is about getting wealthy and retiring in 10 years rather than 40 years.</p>
        </div>
        <div class="card-footer">
            <div class="btn">
                <button><a href=""><b>READ</b></a> </button>
            </div>
        </div>
    </div>

    <!-- card with text overlay -->
    <div class="card">
        <div class="card-overlay">
            <div class="card-img">
                <img id="radius" src="../../assets/ring.jpg" alt="">
            </div>
            <div class="card-header">
                <h1>Classic Ruby Ring</h1>
                <h2>₹46,838</h2>
            </div>
            <div class="card-content">
                <p>The Millionaire Fastlane is about getting wealthy and retiring in 10 years rather than 40 years.</p>
            </div>
            <div class="card-footer">
                <div class="btn">
                    <button><a href=""><b>READ</b></a> </button>
                </div>
            </div>
        </div>
        <div class="overlay flex-center">Out of stock</div>
    </div>



</body>

</html>