<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="./navigation.css">
    <script src="https://kit.fontawesome.com/e24bb32a8e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-title">
                <a href="index.html">Aems UI</a>
            </div>

            <div class="navbar-menu">
                <a href=""><i class="fa fa-github fa-2x"></i></a>
                <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                <a href=""><i class="fa fa-linkedin-square fa-2x"></i></a>
            </div>
        </nav>

    </div>


</body>

</html>