@import url(../../basic.css);
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--nav);
    padding: 1rem 3rem;
    font-weight: 500;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: var(--white);
}

.navbar .navbar-title {
    font-weight: bolder;
    font-size: 1.8rem;
}

.navbar .navbar-menu {
    font-size: 1.2rem;
}

.navbar-menu a {
    margin-right: 1rem;
}

.navbar a {
    text-decoration: none;
    color: inherit
}