<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="./badge.css">
    <script src="https://kit.fontawesome.com/e24bb32a8e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="badge-container">
            <div class="badge-on-icon">
                <i class="fab fa-instagram-square"></i>
                <span class="badge badge-sm center">8</span>
            </div>
            <div class="badge-on-icon">
                <i class="fab fa-instagram-square fa-2x"></i>
                <span class="badge badge-md center">8</span>
            </div>
            <div class="badge-on-icon">
                <i class="fab fa-instagram-square fa-3x"></i>
                <span class="badge badge-lg center">8</span>
            </div>
            <div class="badge-on-icon">
                <i class="fab fa-instagram-square fa-4x"></i>
                <span class="badge badge-xl center">+78</span>
            </div>
        </div>
        <div class="badge-container">
            <div class="badge-on-avatar">
                <img src="../../assets/avtar.png" class="avatar-round avatar-lg " alt="avatar">
                <span class="avatar-badge green"></span>
            </div>
            <div class="badge-on-avatar">
                <img src="../../assets/avtar.png" class="avatar-round avatar-lg " alt="avatar">
                <span class="avatar-badge red"></span>
            </div>
            <div class="badge-on-avatar">
                <img src="../../assets/avtar.png" class="avatar-round avatar-lg " alt="avatar">
                <span class="avatar-badge yellow"></span>
            </div>
        </div>

    </div>
</body>

</html>