<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text utilities</title>
    <link rel="stylesheet" href="./text.css">
</head>

<body>

    <div class="container">
        <h1>H1 Heading</h1>
        <h2>H2 Heading</h2>
        <h3>H3 Heading</h3>
        <h4>H4 Heading</h4>
        <h5>H5 Heading</h5>
        <h6>H6 Headings</h6>

        <h4 class="text-left">Left Text</h4>
        <h4 class="text-center">Center Text</h4>
        <h4 class="text-right">Right Text</h4>

        <p>Normal text </p>
        <p class="text-s">Small Text</p>
        <p class="text-m">Medium Text</p>
        <p class="text-l">Large Text</p>
        <p class="text-xl">Extra Large Text</p>

        <p class="gray">Gray Text</p>
        <p class="dark-gray">Dark Gray Text</p>
    </div>

</body>

</html>