@import url(../style.css);
@import url(../aems.css);
.docs-container {
    display: grid;
    grid-template-columns: 16rem 1fr;
}

.docs-sidebar .sidebar {
    position: fixed;
    top: 4.2rem;
    bottom: 0;
    width: 16rem;
    padding: 1rem 0.5rem;
    /* border-right: 1px solid gray; */
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
}

.docs-sidebar .sidebar-title {
    font-size: 1.2rem;
    text-align: center;
}

.docs-sidebar .sidebar-link {
    margin-top: 0.5rem;
    list-style-type: none;
}

.sidebar-link .list-item {
    font-weight: 500;
    padding: 1rem 1rem;
    width: 100%;
}

.sidebar-link .list-item:hover {
    background-color: var(--light-gray);
}

.docs-sidebar-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding: 0.2rem;
}

h5 {
    margin-bottom: 0.5rem;
}

.docs-component {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.8rem;
    margin-right: 1rem;
}

section {
    padding: 1.5rem;
}

.component-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.component-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.snippet,
.snippet iframe {
    width: 90%;
    /* max-width: 95rem; */
    margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
    .docs-sidebar {
        display: none;
    }
    .docs-component {
        width: 100%;
    }
}