<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./alert.css">
    <script src="https://kit.fontawesome.com/e24bb32a8e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="alert-container">
        <div class="info alert">
            <i class="fas fa-info-circle fa-lg"></i> This is Info alert
        </div>
        <div class="error alert">
            <i class="fas fa-exclamation-circle fa-lg"></i>This is Error alert
        </div>
        <div class="success alert">
            <i class="fas fa-check-circle fa-lg"></i>This is Success Alert
        </div>
        <div class="primary alert">
            <i class="fas fa-info-circle fa-lg"></i>This is Primary alert
        </div>
        <div class="warning alert">
            <i class="fas fa-exclamation-triangle fa-lg"></i>This is warning alert
        </div>
    </div>

</body>

</html>